body {
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
    background-color: #ffffff
}

.panelTopIzquierda {
    position: absolute;
    top: 18px;
    left: 20px;
    width: 200px;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    font-size: 20px;
    color: #bf2626;
    border-radius: 5px;
}

.panelTopIzquierda label{
    font-size:0.85em;
}

.panelTopIzquierda input[type=range]{
    cursor:pointer;
    width: 95%;
}

.panelTitulo{

    position: absolute;
    top: 5px;
    left: 45%;
    z-index: 5;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    opacity: 0.8;
    font-size: 22px;
    font-weight: bold;

}
.comuna-filtro {
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    font-size: 25px;
     
  }
  
  .comuna-filtro select {
    width: 100px;
  }

  .tabla-comunas {
    position: absolute;
    top: 150px;
    left: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    font-size: 25px;
     
  }
  
  .tabla-comunas select {
    width: 100px;
  }